<!-- main -->
<div id="wrapper-site">
    <div class="container">
        <div class="row">
            <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                <div id="main">
                    <div id="content" class="page-content">
                        <div class="register-form text-center">
                            <h1 class="text-center title-page">{{'REGISTER.REGISTER' | translate}}</h1>
                            <form action="#" id="customer-form" class="js-customer-form" [formGroup]="this.dataForm" (ngSubmit)="onSubmit(mymodal)">
                                <div>
                                    <div class="form-group">
                                        <div>
                                            <input class="form-control" name="email" type="email" placeholder="Email" formControlName="email">
                                        </div>
                                        <div *ngIf="submitted && f.email.errors">
                                            <div *ngIf="f.email.errors.required" class="errors"> * {{'REGISTER.REQUIREDEMAIL' | translate}}</div>
                                            <div *ngIf="f.email.errors.pattern" class="errors"> * {{'REGISTER.FormatEmail' | translate}}</div>
                                            <div *ngIf="f.email.errors.emailExists" class="errors"> * {{'REGISTER.EXISTEMAIL' | translate}}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <input class="form-control" name="firstname" type="text" placeholder="{{'REGISTER.FIRSTNAME' | translate}}" formControlName="firstname">
                                        </div>
                                        <div *ngIf="submitted && f.firstname.errors">
                                            <div *ngIf="f.firstname.errors.required" class="errors"> * {{'REGISTER.REQUIREDFIRSTNAME' | translate}}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <input class="form-control" name="lastname" type="text" placeholder="{{'REGISTER.LASTNAME' | translate}}" formControlName="lastname">
                                        </div>
                                        <div *ngIf="submitted && f.lastname.errors">
                                            <div *ngIf="f.lastname.errors.required" class="errors"> * {{'REGISTER.REQUIREDLASTNAME' | translate}}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check-inline">
                                            <label class="form-check-label" for="radio1">
                                              <input type="radio" class="form-check-input" id="radio1" name="gender" value="0" formControlName="gender" checked>{{'REGISTER.MALE' | translate}}
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label" for="radio2">
                                              <input type="radio" class="form-check-input" id="radio2" name="gender" value="1" formControlName="gender">{{'REGISTER.FEMALE' | translate}}
                                            </label>
                                        </div>
                                        <div *ngIf="submitted && f.gender.errors">
                                            <div *ngIf="f.gender.errors.required" class="errors"> * {{'REGISTER.REQUIREDGENDER' | translate}}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="phone">
                                            <button type="button" class="btn btn-default" aria-expanded="false"><span class="type-text">{{'REGISTER.PHONE' | translate}}</span> </button>
                                            <input type="text" name="phone" class="form-control" placeholder="(+84)" formControlName="phone" />
                                        </div>
                                        <div *ngIf="submitted && f.phone.errors">
                                            <div *ngIf="f.phone.errors.required" class="errors"> * {{'REGISTER.REQUIREDPHONE' | translate}}</div>
                                            <div *ngIf="f.phone.errors.pattern" class="errors"> * {{'REGISTER.PHONE10' | translate}}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group phone">
                                            <button type="button" class="btn btn-default" aria-expanded="false"><span class="type-text">{{'REGISTER.BIRTHDAY' | translate}}</span> </button>
                                            <input type="date" class="form-control" id="birthday" name="birthday" [ngModel]="birthday | date:'yyyy-MM-dd'" formControlName="birthday">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <input class="form-control" name="Address" type="Address" placeholder="{{'REGISTER.ADDRESS' | translate}}" formControlName="address">
                                        </div>
                                        <div *ngIf="submitted && f.address.errors">
                                            <div *ngIf="f.address.errors.required" class="errors"> * {{'REGISTER.REQUIREDADDRESS' | translate}}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <div class="input-group js-parent-focus">
                                                <input class="form-control js-child-focus js-visible-password" name="password" type="password" placeholder="{{'REGISTER.PASSWORD' | translate}}" formControlName="password">
                                            </div>
                                            <div *ngIf="submitted && f.password.errors">
                                                <div *ngIf="f.password.errors.required" class="errors"> * {{'REGISTER.REQUIREDPASSWORD' | translate}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <div class="input-group js-parent-focus">
                                                <input class="form-control js-child-focus js-visible-password" name="repeat password" type="password" placeholder="{{'REGISTER.REPEATPASSWORD' | translate}}" formControlName="pwdd">
                                            </div>
                                            <div *ngIf="submitted && f.pwdd.errors">
                                                <div *ngIf="f.pwdd.errors.required" class="errors"> * {{'REGISTER.REQUIREDREPEATPASSWORD' | translate}}</div>
                                                <div *ngIf="f.pwdd.errors?.MustMatch" class="errors"> * {{'REGISTER.MATCHPASSWORD' | translate}}!</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div>
                                        <button class="btn btn-primary" data-link-action="sign-in" type="submit">
                                            {{'REGISTER.CREATEACCOUNT' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #mymodal let-modal>
    <div class="modal-header" style="background-color: #2661e4;
    height: 3.4rem;">
        <h4 class="modal-title" id="modal-basic-title" style="color: #fff;
        font-size: 1.1rem;">{{'MESSAGE.MESSAGE' | translate}}</h4>
    </div>
    <div class="modal-body" style="text-align: center;">
        <img src="assets/img/Success.png" alt="" width="80" height="80" style="margin-bottom: 20px;">
        <h2>{{'MESSAGE.Register Account Successlly!!!' | translate}}</h2>
    </div>
    <div class="modal-footer" style="height: 3rem;">
        <button style="background-color: #0678ec;
        color: #fff;
        border: none;" type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>