<!-- main content -->
<div class="main-content">
    <div id="wrapper-site">
        <div id="content-wrapper">
            <div id="main">
                <div class="page-home">

                    <!-- breadcrumb -->
                    <nav class="breadcrumb-bg">
                        <div class="container no-index">
                            <div class="breadcrumb">
                                <ol>
                                    <li>
                                        <a href="#">
                                            <span>{{'GRIDPRODUCT.HOME' | translate}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>{{('ROOM.' + room) | translate}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>{{('CATEGORY.' + categoryName) | translate}}</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </nav>
                    <div class="container">
                        <div class="content">
                            <div class="row">
                                <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">

                                    <!-- category -->
                                    <div class="sidebar-block">
                                        <div class="title-block">{{'CATEGORY.CATEGORIES' | translate}}</div>
                                        <div class="block-content">
                                            <div class="cateTitle hasSubCategory open level1" *ngFor="let room of rooms">
                                                <span class="arrow collapse-icons collapsed" data-toggle="collapse" [attr.data-target]="'#' + room.roomId" aria-expanded="false" role="status">
                                                    <i class="zmdi zmdi-minus"></i>
                                                    <i class="zmdi zmdi-plus"></i>
                                                </span>
                                                <a class="cateItem">{{('ROOM.' + room.name) | translate}}</a>
                                                <div class="subCategory collapse" id="{{room.roomId}}" aria-expanded="true" role="status">
                                                    <div *ngFor="let category of categories">
                                                        <div class="cateTitle" *ngIf="category.room.roomId == room.roomId">
                                                            <a href="#" class="cateItem" (click)="$event.preventDefault();toProductGrid(category.room.name, category.categoryName, category.room.roomId, category.categoryId)">{{('CATEGORY.' + category.categoryName) | translate}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- best seller -->
                                    <!-- <div class="sidebar-block">
                                        <div class="title-block">
                                            Best seller
                                        </div>
                                        <div class="product-content tab-content">
                                            <div class="row">
                                                <div class="item col-md-12">
                                                    <div class="product-miniature item-one first-item d-flex">
                                                        <div class="thumbnail-container border">
                                                            <a href="product-detail.html">
                                                                <img class="img-fluid image-cover" src="assets/img/product/1.jpg" alt="img">
                                                                <img class="img-fluid image-secondary" src="assets/img/product/22.jpg" alt="img">
                                                            </a>
                                                        </div>
                                                        <div class="product-description">
                                                            <div class="product-groups">
                                                                <div class="product-title">
                                                                    <a href="product-detail.html">Nulla et justo augue</a>
                                                                </div>
                                                                <div class="rating">
                                                                    <div class="star-content">
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-group-price">
                                                                    <div class="product-price-and-shipping">
                                                                        <span class="price">£28.08</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item col-md-12">
                                                    <div class="product-miniature item-one first-item d-flex">
                                                        <div class="thumbnail-container border">
                                                            <a href="product-detail.html">
                                                                <img class="img-fluid image-cover" src="assets/img/product/2.jpg" alt="img">
                                                                <img class="img-fluid image-secondary" src="assets/img/product/11.jpg" alt="img">
                                                            </a>
                                                        </div>
                                                        <div class="product-description">
                                                            <div class="product-groups">
                                                                <div class="product-title">
                                                                    <a href="product-detail.html">Nulla et justo augue</a>
                                                                </div>
                                                                <div class="rating">
                                                                    <div class="star-content">
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-group-price">
                                                                    <div class="product-price-and-shipping">
                                                                        <span class="price">£31.08</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item col-md-12">
                                                    <div class="product-miniature item-one first-item d-flex">
                                                        <div class="thumbnail-container border">
                                                            <a href="product-detail.html">
                                                                <img class="img-fluid image-cover" src="assets/img/product/3.jpg" alt="img">
                                                                <img class="img-fluid image-secondary" src="assets/img/product/14.jpg" alt="img">
                                                            </a>
                                                        </div>
                                                        <div class="product-description">
                                                            <div class="product-groups">
                                                                <div class="product-title">
                                                                    <a href="product-detail.html">Nulla et justo augue</a>
                                                                </div>
                                                                <div class="rating">
                                                                    <div class="star-content">
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-group-price">
                                                                    <div class="product-price-and-shipping">
                                                                        <span class="price">£20.08</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="col-sm-8 col-lg-9 col-md-9">
                                    <div class="main-product-detail">
                                        <h2>{{('PRODUCT.' + product?.productName) | translate}} ({{('COLOR.' + product?.colorName) | translate}})</h2>
                                        <div class="product-single row">
                                            <div class="product-detail col-xs-12 col-md-5 col-sm-5">
                                                <div class="page-content" id="content">
                                                    <div class="images-container">
                                                        <div class="js-qv-mask mask tab-content border">
                                                            <div id="item1" class="tab-pane fade active in show" style="position: relative;text-align: center;">
                                                                <img src="http://localhost:8080/api/image/imageProduct/{{product?.productDetailId}}" alt="img" class="img-fluid" style="height: 285px;
                                                                width: auto;">
                                                                <img *ngIf="product.percent > 0 && product.quantity > 0" class="promotion" src="assets/img/promotion.png" style="position: absolute;    
                                                                left: -9%;
                                                                top: -16%;
                                                                height: 27%;
                                                                width: 43%;">
                                                                <div *ngIf="product.percent > 0 && product.quantity > 0" class="product-flags discount" style="position: absolute;    
                                                                    left: 8%;
                                                                    top: -5%;
                                                                    font-size: 16px;
                                                                    font-weight: 500;">-{{product.percent}}%</div>
                                                                <span class="sticker" *ngIf="product.status == 1 && product.quantity > 0">New</span>
                                                                <img src="assets/img/SoldOut.png" alt="img" style="width: 80px; position: absolute;top: -25px;
                                                                right: -5px;" *ngIf="product.quantity == 0">
                                                                <h3 style="width: 50px;
                                                                text-align: center;
                                                                font-weight: 600;
                                                                color: #f9e601;
                                                                position: absolute;
                                                                top: -16px;
                                                                right: 9px;" *ngIf="product.quantity == 0">{{'PRODUCTDETAIL.OUTOFSTOCK' | translate}}</h3>
                                                            </div>
                                                            <div id="item2" class="tab-pane fade">
                                                                <img src="assets/img/product/2.jpg" alt="img">
                                                            </div>
                                                            <div id="item3" class="tab-pane fade">
                                                                <img src="assets/img/product/3.jpg" alt="img">
                                                            </div>
                                                            <div id="item4" class="tab-pane fade">
                                                                <img src="assets/img/product/5.jpg" alt="img">
                                                            </div>
                                                            <div class="layer hidden-sm-down" data-toggle="modal" data-target="#product-modal">
                                                                <i class="fa fa-expand"></i>
                                                            </div>
                                                        </div>
                                                        <div class="modal fade" id="product-modal" role="dialog">
                                                            <div class="modal-dialog">

                                                                <!-- Modal content-->
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <div class="modal-body">
                                                                            <div class="product-detail">
                                                                                <div>
                                                                                    <div class="images-container">
                                                                                        <div class="js-qv-mask mask tab-content">
                                                                                            <div id="modal-item1" class="tab-pane fade active in show">
                                                                                                <img src="http://localhost:8080/api/image/imageProduct/{{product?.productDetailId}}" alt="img">
                                                                                            </div>
                                                                                            <div id="modal-item2" class="tab-pane fade">
                                                                                                <img src="assets/img/product/2.jpg" alt="img">
                                                                                            </div>
                                                                                            <div id="modal-item3" class="tab-pane fade">
                                                                                                <img src="assets/img/product/3.jpg" alt="img">
                                                                                            </div>
                                                                                            <div id="modal-item4" class="tab-pane fade">
                                                                                                <img src="assets/img/product/5.jpg" alt="img">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-info col-xs-12 col-md-7 col-sm-7">
                                                <div class="detail-description">
                                                    <div class="price-del" *ngIf="product.percent > 0">
                                                        <span class="price">{{product.price - product.price*product.percent/100 | currency: "VND"}}</span>
                                                        <del class="regular-price price" style="color: #b1a6a6;
                                                        font-size: 1.2rem;
                                                        margin-left: 1rem;">{{product.price | currency: "VND"}}</del>
                                                    </div>
                                                    <div class="price-del" *ngIf="product.percent == 0">
                                                        <span class="price">{{product.price | currency: "VND"}}</span>
                                                    </div>
                                                    <p class="description">{{('PRODUCTDESCRIPTION.' + product?.description) | translate}}</p>
                                                    <div class="option has-border d-lg-flex size-color">
                                                        <div class="size">
                                                            <span class="size">{{'PRODUCTDETAIL.SIZE' | translate}} :</span>
                                                            <select #mySelect (change)="onChange(mySelect.value)">
                                                                <option [value]="product?.sizeId">{{product?.size}}</option>
                                                                <option [value] ="size?.sizeId" *ngFor = "let size of sizes" >{{size.sizeName}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="colors">
                                                            <b class="title">{{'PRODUCTDETAIL.COLOR' | translate}} : </b>
                                                            <span [ngStyle]="{'background-color': product?.colorCode}"></span>
                                                            <br>
                                                            <div style="display: inline-flex;">
                                                                <b class="title">{{'PRODUCTDETAIL.OTHERCOLOR' | translate}} : </b>
                                                                <div *ngFor="let color of colors">
                                                                    <a href="#" (click)="$event.preventDefault();toProductDetail(productId, color.colorId, product.sizeId, room, categoryName, product.productName)"><span [ngStyle]="{'background-color': color?.colorCode}"></span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="has-border cart-area">
                                                        <div class="product-quantity">
                                                            <div class="qty">
                                                                <div class="input-group">
                                                                    <div class="quantity">
                                                                        <span class="control-label">{{'PRODUCTDETAIL.QTY' | translate}} : </span>
                                                                        <input type="text" name="qty" id="quantity_wanted" value="{{quantity}}" class="input-group form-control">

                                                                        <span class="input-group-btn-vertical">
                                                                            <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-up" type="button" (click)="increaseQuantity()">
                                                                                +
                                                                            </button>
                                                                            <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-down" type="button" (click)="deincreaseQuantity()">
                                                                                -
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                    <span class="add">
                                                                        <button *ngIf="product.quantity == 0" class="btn btn-primary add-to-cart add-item" data-button-action="add-to-cart" type="submit" [disabled]="true" (click)="addToCart()">
                                                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                    <span>{{'PRODUCTDETAIL.ADDTOCART' | translate}}</span>
                                                                    </button>
                                                                    <button *ngIf="product.quantity > 0" class="btn btn-primary add-to-cart add-item" data-button-action="add-to-cart" type="submit" (click)="addToCart()">
                                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                        <span>{{'PRODUCTDETAIL.ADDTOCART' | translate}}</span>
                                                                    </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <p class="product-minimal-quantity">
                                                        </p>
                                                    </div>
                                                    <!-- <div class="d-flex2 has-border">
                                                        <div class="btn-group">
                                                            <a href="#">
                                                                <i class="zmdi zmdi-share"></i>
                                                                <span>Share</span>
                                                            </a>
                                                            <a href="#" class="email">
                                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                                                <span>SEN TO A FRIEND</span>
                                                            </a>
                                                            <a href="#" class="print">
                                                                <i class="zmdi zmdi-print"></i>
                                                                <span>Print</span>
                                                            </a>
                                                        </div>
                                                    </div> -->
                                                    <!-- <div class="rating-comment has-border d-flex">
                                                        <div class="review-description d-flex">
                                                            <span>REVIEW :</span>
                                                            <div class="rating">
                                                                <div class="star-content">
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="read after-has-border">
                                                            <a href="#review">
                                                                <i class="fa fa-commenting-o color" aria-hidden="true"></i>
                                                                <span>READ REVIEWS (3)</span>
                                                            </a>
                                                        </div>
                                                        <div class="apen after-has-border">
                                                            <a href="#review">
                                                                <i class="fa fa-pencil color" aria-hidden="true"></i>
                                                                <span>WRITE A REVIEW</span>
                                                            </a>
                                                        </div>
                                                    </div> -->
                                                    <!-- <div class="content">
                                                        <p>SKU :
                                                            <span class="content2">
                                                                <a href="#">e-02154</a>
                                                            </span>
                                                        </p>
                                                        <p>Categories :
                                                            <span class="content2">
                                                                <a href="#">Clothing</a>,
                                                                <a href="#">Men's Jackets</a>
                                                            </span>
                                                        </p>
                                                        <p>tags :
                                                            <span class="content2">
                                                                <a href="#">Jacket</a>,
                                                                <a href="#">Overcoat</a>,
                                                                <a href="#">Luxury</a>,
                                                                <a href="#">men</a>,
                                                                <a href="#">summer</a>,
                                                                <a href="#">autumn</a>
                                                            </span>
                                                        </p>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>