<div class="page-wrapper">
    <div class="content" style="padding: 30px 30px 0px 30px;">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg1"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3 style="font-weight: 600;
                        font-size: 22px;
                        color: #afa2a2;">{{customerCount}}</h3>
                        <span class="widget-title1">Khách Hàng <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg2"><i class="fa fa-user-o"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3 style="font-weight: 600;
                        font-size: 22px;
                        color: #afa2a2;">{{employeeCount}}</h3>
                        <span class="widget-title2">Nhân Viên <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg3"><i class="fa fa-shopping-basket" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3 style="font-weight: 600;
                        font-size: 22px;
                        color: #afa2a2;">{{newOrderCount}}</h3>
                        <span class="widget-title3">Đơn Đặt Hàng Mới <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg4"><i class="fa fa-truck" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3 style="font-weight: 600;
                        font-size: 22px;
                        color: #afa2a2;">{{newProductCount}}</h3>
                        <span class="widget-title4">Sản Phẩm Mới <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" style="padding: 10px 30px 0px 30px;">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [legendSettings]='legendSettings' [tooltip]='tooltip' [title]='title' width='470' height='370'>
                                <e-series-collection>
                                    <e-series [dataSource]='chartData' type='Line' xName='month' yName='count' name='Đơn đặt hàng' [marker]='marker'></e-series>
                                </e-series-collection>
                            </ejs-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <ejs-chart id="chart-container1" [primaryXAxis]='primaryXAxis1' [primaryYAxis]='primaryYAxis1' [title]='title1' width='470' height='370' [legendSettings]='legendSettings1' [tooltip]='tooltip1'>
                            <e-series-collection>
                                <e-series [dataSource]='chartData1' type='Column' xName='month' yName='count' name='Tài khoản khách hàng' [marker]='marker1'></e-series>
                            </e-series-collection>
                        </ejs-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>