<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
                <li class="submenu">
                    <a href="#" (click)="$event.preventDefault();toHome();"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li class="submenu">
                    <a href="#" (click)="$event.preventDefault();toRevenue(mymodal);"><i class="fa fa-dashboard"></i> <span>Doanh Thu</span></a>
                </li>
                <li class="submenu">
                    <a href="#" (click)="$event.preventDefault();toProfit();"><i class="fa fa-dashboard"></i> <span>Lợi Nhuận</span></a>
                </li>
                <li class="submenu">
                    <a href="#" (click)="$event.preventDefault();toHotSelling();"><i class="fa fa-dashboard"></i> <span>Sản Phẩm Bán Chạy</span></a>
                </li>
                <li class="submenu">
                    <a href="#" (click)="$event.preventDefault();toCountCustomer();"><i class="fa fa-dashboard"></i> <span>Thống kê khách hàng</span></a>
                </li>
                <li class="submenu">
                    <a href="#" (click)="$event.preventDefault();toEmployees();"><i class="fa fa-user"></i> <span> Nhân Viên </span></a>
                </li>
                <li class="submenu">
                    <a href="#" (click)="$event.preventDefault();toCustomer();"><i class="fa fa-user"></i> <span> Khách Hàng </span></a>
                </li>
                <li class="submenu">
                    <a href="#" (click)="$event.preventDefault();toOrders();"><i class="fa fa-money"></i> <span> Đơn Đặt Hàng </span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fa fa-money"></i> <span> Sản Phẩm </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="#" *ngIf="active == 2" class="active" (click)="$event.preventDefault();toProduct();">Sản Phẩm</a></li>
                        <li><a href="#" *ngIf="active != 2" (click)="$event.preventDefault();toProduct();">Sản Phẩm</a></li>
                        <li><a href="#" *ngIf="active == 3" class="active" (click)="$event.preventDefault();toProvider();">Nhà Cung Cấp</a></li>
                        <li><a href="#" *ngIf="active != 3" (click)="$event.preventDefault();toProvider();">Nhà Cung Cấp</a></li>
                        <li><a href="#" *ngIf="active == 4" class="active" (click)="$event.preventDefault();toCategory();">Danh Mục Hàng</a></li>
                        <li><a href="#" *ngIf="active != 4" (click)="$event.preventDefault();toCategory();">Danh Mục Hàng</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fa fa-money"></i> <span> Quản Lý Kho </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="#" *ngIf="active == 1" class="active" (click)="$event.preventDefault();toInventory();">Nhập Hàng</a></li>
                        <li><a href="#" *ngIf="active != 1" (click)="$event.preventDefault();toInventory();">Nhập Hàng</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<ng-template #mymodal let-modal>
    <div class="modal-header" style="background-color: #2661e4;
    height: 3.4rem;">
        <h4 class="modal-title" id="modal-basic-title" style="color: #fff;
        font-size: 1.1rem;">Message</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true" style="color: #fff;">×</span>
      </button>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
    <div class="modal-footer" style="height: 3rem;">
        <button style="background-color: #0678ec;
        color: #fff;
        border: none;" type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>