<div id="wrapper-site">
    <div class="container" style="max-width: 380px;
    text-align: center;">
        <div class="row">
            <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                <div id="main">
                    <div id="content" class="page-content">
                        <div>
                            <img src="assets/admin/img/sent.png" alt="" width="80" height="80" style="margin-bottom: 20px;">
                            <h2>Canceled</h2>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-rounded" type="submit" style="margin-left: 50px;" (click)="$event.preventDefault();toHome(); ">Go Home</button>
                            <button class="btn btn-primary btn-rounded" type="submit" style="margin-left: 45px;" (click)="$event.preventDefault();toPurchase(); ">Go My Purchase</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>