<!-- main content -->
<div class="main-content">
    <div id="wrapper-site">
        <div id="content-wrapper" class="full-width">
            <div id="main">
                <div class="page-home">
                    <!-- breadcrumb -->
                    <nav class="breadcrumb-bg">
                        <div class="container no-index">
                            <div class="breadcrumb">
                                <ol>
                                    <li>
                                        <a href="#">
                                            <span>{{'GRIDPRODUCT.HOME' | translate}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>{{('ROOM.' + room) | translate}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>{{('CATEGORY.' + categoryName) | translate}}</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </nav>

                    <div class="container">
                        <div class="content">
                            <div class="row">
                                <div class="sidebar-3 sidebar-collection col-lg-3 col-md-4 col-sm-4">

                                    <!-- category menu -->
                                    <div class="sidebar-block">
                                        <div class="title-block">{{'CATEGORY.CATEGORIES' | translate}}</div>
                                        <div class="block-content">
                                            <div class="cateTitle hasSubCategory open level1" *ngFor="let room of rooms">
                                                <span class="arrow collapsed collapse-icons" data-toggle="collapse" [attr.data-target]="'#' + room.roomId" aria-expanded="false" role="status">
                                                        <i class="zmdi zmdi-minus"></i>
                                                        <i class="zmdi zmdi-plus"></i>
                                                    </span>
                                                <a class="cateItem">{{('ROOM.' + room.name) | translate}}</a>
                                                <div class="subCategory collapse" id="{{room.roomId}}" aria-expanded="true" role="status">
                                                    <div *ngFor="let category of categories">
                                                        <div class="cateTitle" *ngIf="category.room.roomId == room.roomId">
                                                            <a href="#" class="cateItem" (click)="$event.preventDefault();toProductGrid(category.room.name, category.categoryName, category.room.roomId, category.categoryId)">{{('CATEGORY.' + category.categoryName) | translate}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- best seller -->
                                    <div class="sidebar-block">
                                        <!-- <div class="title-block">Catalog</div>
                                        <div class="new-item-content">
                                            <h3 class="title-product">categories</h3>
                                            <ul class="scroll-product">
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>side table</b>
                                                        <span class="quantity">(30)</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>floor lamp</b>
                                                        <span class="quantity">(32)</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>ottoman</b>
                                                        <span class="quantity">(67)</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>armchair</b>
                                                        <span class="quantity">(15)</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>ottoman</b>
                                                        <span class="quantity">(24)</span>

                                                    </a>
                                                </li>
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>CUSHION</b>
                                                        <span class="quantity">(20)</span>

                                                    </a>
                                                </li>
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>Pineapple</b>
                                                        <span class="quantity">(21)</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div> -->
                                        <!-- <div class="new-item-content">
                                            <h3 class="title-product">Manufacture</h3>
                                            <ul class="scroll-product">
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>Samsung</b>
                                                        <span class="quantity">(30)</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>Dell</b>
                                                        <span class="quantity">(30)</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>Polygon</b>
                                                        <span class="quantity">(30)</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>Newment</b>
                                                        <span class="quantity">(30)</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>Asus</b>
                                                        <span class="quantity">(30)</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>Mac</b>
                                                        <span class="quantity">(30)</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>Vaio</b>
                                                        <span class="quantity">(30)</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    <a href="#">
                                                        <b>Lettuce</b>
                                                        <span class="quantity">(30)</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div> -->
                                        <div class="tiva-filter-price new-item-content sidebar-block">
                                            <h3 class="title-product">{{'GRIDPRODUCT.PRICE' | translate}}</h3>
                                            <div class="range-slide">
                                                <div class="slide">
                                                    <div class="line" id="line" style="left: 0%; right: 0%;"></div>
                                                    <span class="thumb" id="thumbMin" style="left: 0%;"></span>
                                                    <span class="thumb" id="thumbMax" style="left: 100%;"></span>
                                                </div>
                                                <input #min id="rangeMin" type="range" max="20000000" min="0" step="1" value="0">
                                                <input #max id="rangeMax" type="range" max="20000000" min="0" step="100000" value="20000000">
                                            </div>
                                            <div class="display">
                                                <span id="min">0đ</span>
                                                <span id="max">20,000,000đ</span>
                                            </div>
                                            <div style="text-align: center;">
                                                <a href="#" class="btn" style="margin-top: 2rem;font-size: 0.8rem;
                                                padding: 0.4rem 1.5rem;" (click)="$event.preventDefault();getProductSearchPrice();"> {{'GRIDPRODUCT.SEARCH' | translate}} </a>
                                            </div>




                                            <!-- <div id="block_price_filter" class="block">
                                                <div class="block-content">
                                                    <div id="slider-range" class="tiva-filter">
                                                        <div class="filter-itemprice-filter">
                                                            <div class="layout-slider">
                                                                <input #myname id="price-filter" name="price" value="0;20000000" />
                                                            </div>
                                                            <div class="layout-slider-settings"></div>
                                                        </div>
                                                        <div style="text-align: center;">
                                                            <a href="#" class="btn" style="margin-top: 2rem;font-size: 0.8rem;
                                                            padding: 0.4rem 1.5rem;" (click)="$event.preventDefault();getProductSearchPrice();"> Search </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="sidebar-block by-color">
                                            <h3 class="title-product">{{'GRIDPRODUCT.BYCOLOR' | translate}}</h3>
                                            <div *ngFor="let color of colors" style="width: 50%;
                                            float: left;">
                                                <span>
                                                        <label [ngStyle]="{'background-color': color?.colorCode}"></label>
                                                        <a href="#" [ngStyle]="{'color': color?.colorCode}" (click)="$event.preventDefault();getProductWithRoomIdAndCategoryIdAndColorId(color.colorId);">
                                                            <span>{{('COLOR.' + color.colorName) | translate}}
                                                </span>
                                                </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-lg-9 col-md-8 product-container">
                                    <h1>{{('ROOM.' + room) | translate}}</h1>
                                    <div class="js-product-list-top firt nav-top">
                                        <div class="d-flex justify-content-around row">
                                            <div class="col col-xs-12">
                                                <ul class="nav nav-tabs">
                                                    <li>
                                                        <a href="#grid" data-toggle="tab" class="active show fa fa-th-large"></a>
                                                    </li>
                                                    <li>
                                                        <a href="#list" data-toggle="tab" class="fa fa-list-ul"></a>
                                                    </li>
                                                </ul>
                                                <!-- <div class="hidden-sm-down total-products">
                                                    <p>There are 12 products.</p>
                                                </div> -->
                                            </div>
                                            <div class="col col-xs-12">
                                                <div class="d-flex sort-by-row justify-content-lg-end justify-content-md-end">

                                                    <div class="products-sort-order dropdown">
                                                        <select class="select-title" #mySelect (change)="onChange(mySelect.value)">
                                                                <option [value]="1">{{'GRIDPRODUCT.SORT BY' | translate}}</option>
                                                                <option [value]="2">{{'GRIDPRODUCT.NAMEAZ' | translate}}</option>
                                                                <option [value]="3">{{'GRIDPRODUCT.NAMEZA' | translate}}</option>
                                                                <option [value]="4">{{'GRIDPRODUCT.PRICEAZ' | translate}}</option>
                                                                <option [value]="5">{{'GRIDPRODUCT.PRICEZA' | translate}}</option>
                                                            </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content product-items">
                                        <div id="grid" class="related tab-pane fade in active show">
                                            <div class="row">
                                                <div class="item text-center col-md-4" *ngFor="let product of products  | paginate: config">
                                                    <div class="product-miniature js-product-miniature item-one first-item">
                                                        <div class="thumbnail-container border">
                                                            <a href="#" (click)="$event.preventDefault();toProductDetail(product.productId, product.colorId, product.sizeId, room, categoryName, product.productName)">
                                                                <img class="img-fluid" src="http://localhost:8080/api/image/imageProduct/{{product.productDetailId}}" alt="img" style="height: 235px;">
                                                            </a>
                                                            <span class="sticker" *ngIf="product.status == 1">{{'HOMEPRODUCT.NEW' | translate}}</span>
                                                            <div *ngIf="product.percent > 0" class="product-flags discount">-{{product.percent}}%</div>
                                                            <div class="highlighted-informations">
                                                                <div class="variant-links">
                                                                    <a href="#" class="color beige" title="Beige"></a>
                                                                    <a href="#" class="color orange" title="Orange"></a>
                                                                    <a href="#" class="color green" title="Green"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product-description">
                                                            <div class="product-groups">
                                                                <div class="product-title">
                                                                    <a href="product-detail.html">{{('PRODUCT.' + product.productName) | translate}}</a>
                                                                </div>
                                                                <div class="rating">
                                                                    <div class="star-content">
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-group-price">
                                                                    <div class="product-price-and-shipping" *ngIf="product.percent > 0">
                                                                        <span class="price">{{product.price - product.price*product.percent/100 | currency: "VND"}}</span>
                                                                        <del class="regular-price">{{product.price | currency: "VND"}}</del>
                                                                    </div>
                                                                    <div class="product-price-and-shipping" *ngIf="product.percent == 0">
                                                                        <span class="price">{{product.price | currency: "VND"}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-buttons d-flex justify-content-center">
                                                                <a href="#" (click)="$event.preventDefault();toProductDetail(product.productId, product.colorId, product.sizeId, room, categoryName, product.productName)" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <pagination-controls (pageChange)="pageChanged($event)" style="text-align: right;"></pagination-controls>
                                        </div>
                                        <div id="list" class="related tab-pane fade">
                                            <div class="row" *ngFor="let product of products | paginate: config1">
                                                <div class="item col-md-12">
                                                    <div class="product-miniature item-one first-item">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="thumbnail-container border" style="height: 210px; text-align: center; padding-top: 30px;">
                                                                    <a href="product-detail.html">
                                                                        <img class="img-fluid" src="http://localhost:8080/api/image/imageProduct/{{product.productDetailId}}" alt="img" style="height: 140px;">
                                                                    </a>
                                                                    <div *ngIf="product.percent > 0" class="product-flags discount">-{{product.percent}}%</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="product-description">
                                                                    <div class="product-groups">
                                                                        <div class="product-title">
                                                                            <a href="product-detail.html">{{('PRODUCT.' + product.productName) | translate}}</a>
                                                                            <span class="info-stock">
                                                                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                                                    {{'GRIDPRODUCT.INSTOCK' | translate}}
                                                                                </span>
                                                                        </div>
                                                                        <div class="rating">
                                                                            <div class="star-content">
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-group-price">
                                                                            <div class="product-price-and-shipping d-flex flex-row" *ngIf="product.percent > 0">
                                                                                <span class="price">{{product.price - product.price*product.percent/100 | currency: "VND"}}</span>
                                                                                <del class="regular-price">{{product.price | currency: "VND"}}</del>
                                                                            </div>
                                                                            <div class="product-price-and-shipping" *ngIf="product.percent == 0">
                                                                                <span class="price">{{product.price | currency: "VND"}}</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="discription">
                                                                            {{('PRODUCTDESCRIPTION.' + product.description) | translate}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-buttons d-flex">
                                                                        <form action="#" method="post" class="formAddToCart">
                                                                            <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>{{'GRIDPRODUCT.ADDTOCART' | translate}}
                                                                            </a>
                                                                        </form>
                                                                        <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                                        </a>
                                                                        <a href="#" (click)="$event.preventDefault();toProductDetail(product.productId, product.colorId, product.sizeId, room, categoryName, product.productName)" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <pagination-controls (pageChange)="pageChanged1($event)" style="text-align: right;"></pagination-controls>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-md-9-1 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>