<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-3 col-3">
                <h4 class="page-title"></h4>
            </div>
            <div class="col-sm-6 col-6">
                <div class="row filter-row">
                    <div class="col-sm-6 col-md-3 col-lg-6 col-xl-6 col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Tìm mã..." [(ngModel)]="searchIdValue">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-6 col-xl-6 col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Tìm tên..." [(ngModel)]="searchNameValue">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-3 text-right m-b-30">
                <a class="btn btn-primary btn-rounded float-right" data-toggle="modal" data-target="#exampleModalCenter" (click)="$event.preventDefault();getProviderId();"><i class="fa fa-plus"></i> Thêm nhà cung cấp</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Tên</th>
                                <th>Email</th>
                                <th>Địa chỉ</th>
                                <th>Số điện thoại</th>
                                <th class="text-right">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let provider of providers | paginate: config | searchProviderFilter: searchIdValue | searchProviderNameFilter: searchNameValue">
                            <tr>
                                <td>
                                    <strong>{{provider.providerId}}</strong>
                                </td>
                                <td>{{provider.providerName}}</td>
                                <td>{{provider.providerEmail}}</td>
                                <td>{{provider.providerAddress}}</td>
                                <td>{{provider.providerPhone}}</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalCenter1" (click)="$event.preventDefault();showEditProvider(provider.providerId);"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_expense" (click)="$event.preventDefault();getProviderId1(provider.providerId);"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="pageChanged($event)" style="text-align: right;"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="delete_expense" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="assets/admin/img/sent.png" alt="" width="50" height="46">
                <h3>Bạn có chắc chắn xóa nhà cung cấp này không?</h3>
                <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Đóng</a>
                    <button type="submit" class="btn btn-danger" (click)="deleteProvider()">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin Quick View | Modal Area -->
<div class="modal fade modal-wrapper" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">Thêm nhà cung cấp</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form [formGroup]="this.dataForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Tên: </label>
                                        <input class="form-control" type="text" formControlName="providerName">
                                        <div *ngIf="submitted && f.providerName.errors">
                                            <div *ngIf="f.providerName.errors.required" class="errors"> * Vui lòng nhập tên</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Email: </label>
                                        <input class="form-control" type="text" formControlName="providerEmail">
                                        <div *ngIf="submitted && f.providerEmail.errors">
                                            <div *ngIf="f.providerEmail.errors.required" class="errors"> * Vui lòng nhập email</div>
                                            <div *ngIf="f.providerEmail.errors.pattern" class="errors"> * Định dạng email sai (Ex: tmtuan@gmail.com)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Địa chỉ: </label>
                                        <input class="form-control" type="text" formControlName="providerAddress">
                                        <div *ngIf="submitted && f.providerAddress.errors">
                                            <div *ngIf="f.providerAddress.errors.required" class="errors"> * Vui lòng nhập địa chỉ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Số điện thoại: </label>
                                        <input class="form-control" type="text" formControlName="providerPhone">
                                        <div *ngIf="submitted && f.providerPhone.errors">
                                            <div *ngIf="f.providerPhone.errors.required" class="errors"> * Vui lòng nhập SDT</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" type="submit">Tạo nhà cung cấp</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-wrapper" id="exampleModalCenter1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">Sửa nhà cung cấp</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form [formGroup]="this.dataForm" (ngSubmit)="onSubmit1()">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Tên: </label>
                                        <input class="form-control" type="text" formControlName="providerName">
                                        <div *ngIf="submitted && f.providerName.errors">
                                            <div *ngIf="f.providerName.errors.required" class="errors"> * Vui lòng nhập tên nhà cung cấp</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Email: </label>
                                        <input class="form-control" type="text" formControlName="providerEmail">
                                        <div *ngIf="submitted && f.providerEmail.errors">
                                            <div *ngIf="f.providerEmail.errors.required" class="errors"> * Vui lòng nhập email</div>
                                            <div *ngIf="f.providerEmail.errors.pattern" class="errors"> * Định dạng email không đúng (Ex: tmtuan@gmail.com)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Địa chỉ: </label>
                                        <input class="form-control" type="text" formControlName="providerAddress">
                                        <div *ngIf="submitted && f.providerAddress.errors">
                                            <div *ngIf="f.providerAddress.errors.required" class="errors"> * Vui lòng nhập địa chỉ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>SDT: </label>
                                        <input class="form-control" type="text" formControlName="providerPhone">
                                        <div *ngIf="submitted && f.providerPhone.errors">
                                            <div *ngIf="f.providerPhone.errors.required" class="errors"> * Vui lòng nhập SDT</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" type="submit">Sửa nhà cung cấp</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>