<!-- main content -->
<div class="main-content">
    <div class="wrap-banner">

        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="#">
                                <span>{{'RESETPASSWORD.HOME' | translate}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>{{'RESETPASSWORD.RESETPASSWORD' | translate}}</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
    </div>

    <!-- main -->
    <div id="wrapper-site">
        <div class="container">
            <div class="row">
                <div id="content-wrapper" class="onecol">
                    <div id="main">
                        <div class="page-content">
                            <form action="#" class="forgotten-password" method="post" id="customer-form" [formGroup]="this.dataForm" (ngSubmit)="onSubmit(mymodal)">
                                <h1 class="text-center title-page" style="font-weight: 600">{{'RESETPASSWORD.NEWPASSWORD' | translate}}</h1>
                                <div class="form-fields text-center ">
                                    <div class="form-group center-email-fields">
                                        <div class="email">
                                            <input class="form-control" name="password" type="password" placeholder="{{'RESETPASSWORD.NEWPASSWORD1' | translate}}" formControlName="password">
                                            <div *ngIf="submitted && f.password.errors" style="text-align: left;">
                                                <div *ngIf="f.password.errors.required" class="errors"> * {{'RESETPASSWORD.RIQUIREDNEWPASSWORD' | translate}}</div>
                                            </div>
                                        </div>
                                        <div class="email" style="margin-top: 1rem;">
                                            <input class="form-control" name="password" type="password" placeholder="{{'RESETPASSWORD.NEWPASSWORDAGAIN' | translate}}" formControlName="pwdd">
                                            <div *ngIf="submitted && f.pwdd.errors" style="text-align: left;">
                                                <div *ngIf="f.pwdd.errors.required" class="errors"> * {{'RESETPASSWORD.RIQUIREDNEWPASSWORDAGAIN' | translate}}</div>
                                                <div *ngIf="f.pwdd.errors?.MustMatch" class="errors"> * {{'RESETPASSWORD.MATCHPASSWORD' | translate}}</div>
                                            </div>
                                        </div>
                                        <div>
                                            <button class="form-control-submit btn btn-primary" name="submit" type="submit">
                                                {{'RESETPASSWORD.CHANGE' | translate}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #mymodal let-modal>
        <div class="modal-header" style="background-color: #2661e4;
        height: 3.4rem;">
            <h4 class="modal-title" id="modal-basic-title" style="color: #fff;
            font-size: 1.1rem;">{{'MESSAGE.MESSAGE' | translate}}</h4>
        </div>
        <div class="modal-body" style="text-align: center;">
            <img src="assets/img/Success.png" alt="" width="80" height="80" style="margin-bottom: 20px;">
            <h2>{{'MESSAGE.Change password successly...' | translate}}</h2>
        </div>
        <div class="modal-footer" style="height: 3rem;">
            <button style="background-color: #0678ec;
            color: #fff;
            border: none;" type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
    </ng-template>
</div>